from smolagents import ToolCollection, CodeAgent, ToolCallingAgent,  DuckDuckGoSearchTool
from smolagents import LiteLLMModel
from mcp import StdioServerParameters
import os

# 设置HTTP代理
os.environ['HTTP_PROXY'] = os.environ["PROXY"]
os.environ['HTTPS_PROXY'] = os.environ["PROXY"]

amodel = LiteLLMModel(
    model_id=os.environ["MODEL_NAME"],
    api_base="https://openrouter.ai/api/v1",
    api_key=os.environ["OPENAI_TOKEN"],
)
fetch_parameters = StdioServerParameters(
    command="python",
    args=["-m", "mcp_server_fetch"],
    env={"HTTP_PROXY": os.environ["PROXY"],"HTTPS_PROXY": os.environ["PROXY"],"USE_PROXY": "true"},
)
with ToolCollection.from_mcp(fetch_parameters, trust_remote_code=True) as fetch_collection:
    search_agent = ToolCallingAgent(
        tools=[DuckDuckGoSearchTool()],
        model=amodel,
        name="search_agent",
        description="This is an agent that can do web search.",
    )
    agent =CodeAgent(
        tools=[DuckDuckGoSearchTool()], 
        model=amodel,
        managed_agents=[search_agent],
        additional_authorized_imports=["*"],
        add_base_tools=True
    )
    prompt = f"""
    你的运行环境中有这些包：
    pandas openpyxl subprocess io 
    请根据需要导入相应的包
    程序的工作目录是/app/output

    {{question}}
    """
    print(agent.run(prompt))
 
    print("==============memory==================")
    for step in agent.memory.steps:
        print("-----------------")
        for message in step.to_messages():
            print(message)